---
need: need
---
@import 'reset.scss';
@import 'mixins.scss';
@import 'colors.scss';

body {
	background-color: lighten($yellow, 20%);
	color: $gray;
}

.menu {
	width: 100%;
	text-align: left;
	height: auto;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	z-index: 999;
	right: 0;
	top: 0;
	padding: 17px;

	> ul > li {
		padding-right: 25px;
		text-align: right;
		display: inline-block;
		
		> a {
			color: #fff;
			font-weight: 400;
		}

		&:last-child {padding-right: 0;}
	}
}

.main {
	width: 100%;
	height: 100vh;
	background-color: $yellow;
	text-align: center;
	@include flex(wrap row);
	@include flex-align(center, flex-start, flex-start);

	h1, a {flex: 0 0 100%;}

	h1 {
		padding: 45px 0 20px;
		color: #fff;
		font-size: 90px;
		text-transform: lowercase;
	}

	.shield {
		flex: 0 0 100px;
		background-color: #fff;
		height: 100px;
	}

	> a {
		flex: 0 0 100%;
		bottom: 0;
	}
}

.intro {
	width: 100%;
	height: auto;
	@include flex(wrap row);
	@include flex-align(flex-start, center, center);
	text-align: left;
	padding: 3% 5%;
	border-bottom: 2px solid $gray;

	h1 {
		font-size: 40px;
	}
}

.examples {
	width: 100%;
	height: auto;
	padding: 3% 5%;
	@include flex(wrap row);
	@include flex-align(center, flex-start, flex-start);
	border-bottom: 2px solid $gray;

	article {
		flex: 0 0 calc(100% / 3);
		height: auto;
		text-align: left;

		.result,
		code {
			width: 100%;
			height: 100px;
			padding: 15px;
		}
	}
}

.use {
	width: 100%;
	height: auto;
	padding: 3% 5%;
}