//-----RESET-----//

// Name reset-html5
// Desc reset html5 tags
@mixin reset-html5() {
	article,
	aside,
	footer,
	header,
	nav,
	section { display: block; }

	figcaption,
	figure,
	main,
	menu, 
	details { display: block; }

	audio,
	video { display: inline-block; }

	audio:not([controls]) {
		display: none;
		height: 0;
	}

	svg:not(:root) { overflow: hidden; }

	fieldset {
		border: none;
		margin: 0;
		padding: 0;
	}

	legend {
		@include bs(border-box);
		color: inherit;
		display: table;
		max-width: 100%;
		padding: 0;
		white-space: normal;
	}

	progress {
		display: inline-block;
		vertical-align: baseline;
	}

	::-webkit-file-upload-button {
		-webkit-appearance: button;
		font: inherit;
	}

	summary { display: list-item; }

	canvas { display: inline-block; }

	template { display: none; }

	[hidden] { display: none; }
}