//-----RESET-----//

// Name reset-html
// Desc reset html
@mixin reset-html() {
	font-family: getFontFamily(text);
	line-height: 1.2;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

// Name reset-core
// Desc reset core html attributes
@mixin reset-core() {
	
}