.header {
	padding: 5% 0;
	background-color: darken(get($color-scheme, orange), 5%);

	@include fc(wrap row);
	@include jc(center);

	img, h1, p {
		@include fx(0 0 auto);
		text-align: center;
	}

	img {
		display: block;
	}

	h1, p {
		color: #fff;
		flex-basis: 100%;
	}

	h1 {
		padding: 20px;
	}
}