// Start importing partials
@import '../src/shield';

$color-scheme: (
	blue: #2D4059,
	red: #EA5455,
	orange: #F07B3F,
	yellow: #FFD460
);

// Import files ordering them by layout
/*@import 'header.scss',
		'easy.scss',
		'doc.scss';*/