/* 
It is a super map with all of the variables and other maps being used, just include what you really wanna change.

Example

$font-family: (
	lorem: 'ipsum'
);

$variables: (
	font-family: $font-family,
);

Variables/maps for use

$font-family: (
	headers: 'Arial',
	texts: 'Arial'
);

$font-size: (
	desktop: 16px,
	tablet: 17px,
	phone: 18px	
);

*/

$variables: ();