/* 
It is a super map with all of the variables and other maps being used, just include what you really wanna change.

Example

$font-family: (
	lorem: 'ipsum'
);

$variables: (
	font-family: $font-family,
);

Variables/maps for use

$font-family: ();
$font-size: ();

*/

$variables: ();