/*----------DEVICE SIZES----------*/

$devices-initial: (
	laptop: 1366px,
	desktop: 1280px,
	tablet: 1024px,
	phone: 760px
);

@if hasKeyVar(devices) {
	$devices-custom: getVar(devices);
	
	$devices: merge($devices-initial, $devices-custom);
} @else {
	$devices: $devices-initial;
}

@function getDevice($dev) {
	@if hasKey($devices, $dev) {
		@return get($devices, $dev);
	}

	@warn 'This device size does not exists';
	@return null;
}