/*----------DEVICE SIZES----------*/

@if hasKeyVar(devices) {
	$devices_standard: (
		laptop: 1366px,
		desktop: 1280px,
		tablet: 1024px,
		phone: 760px
	);

	$devices: getVar(devices);
	
	// Merge two maps
	@each $key, $val in $devices {
		@if hasKey($device) {
			
		}
	}
} @else {
	$devices: (
		laptop: 1366px,
		desktop: 1280px,
		tablet: 1024px,
		phone: 760px
	);
}

@function getDevice($dev) {
	@if hasKey($devices, $dev) {
		@return get($devices, $dev);
	}

	@warn 'This device size does not exists';
	@return null;
}