/*----------FONT STYLES----------*/

/* h1, h2, h3.. */
$headers: (
	h1: 32px,
	h2: 24px,
	h3: 18.5px,
	h4: 16px,
	h5: 13.5px,
	h6: 11px
);

/* return: specified $header */
@function getHeader($h) {
	@if hasKey($headers, $h) {
		@return map-get($headers, $h);
	}

	@warn "This header does not exists";
	@return null;
}

/* sizes: desktop, tablet, phone */
@if hasKeyVar(font-size) {
	$font-size: getVar(font-size);
} @else {
	$font-size: (
		desktop: 16px,
		tablet: 17px,
		phone: 18px
	);	
}

/* return: font-size */
@function getFontSize($size) {
	@if hasKey($font-size, $size) {
		@return map-get($font-size, $size);
	}

	@warn "This size does not exists";
	@return null;
}

/* font-family */
@if hasKeyVar(font-family) {
	$font-family: getVar(font-family);
} @else {	
	$font-family: (
		headers: 'Arial',
		texts: 'Arial'
	);
}

/* return: font-family */
@function getFontFamily($fm) {
	@if hasKey($font-family, $fm) {
		@return map-get($font-family, $fm);
	}

	@warn "This family does not exists";
	@return null;
}

/* font-type */
$font-type: (
	serif: 'serif',
	sans: 'sans-serif'
);

/* return: font-type */
@function getFontType($fm) {
	@if hasKey($font-type, $fm) {
		@return map-get($font-type, $fm);
	}

	@warn "This serif does not exists";
	@return null;
}