//----------LAYERS----------//

$z-index: (
	base: 0
);

@if hasKeyVar(z-index) {
	$z-index: merge($z-index, getVar(z-index));
}

@function getLayer($z) {
	@if hasKey($z-index, $z) {
		@return get($z-index, $z);	
	}

	@warn 'this layer/z-index value does not exist';
	@return null;
}