//----------FONT----------//

$heading: (
	h1: 32px,
	h2: 24px,
	h3: 18.5px,
	h4: 16px,
	h5: 13.5px,
	h6: 11px
);

// return: specified $header
@function getHeader($h) {
	@if hasKey($headers, $h) {
		@return get($headers, $h);
	}

	@warn "This header does not exists";
	@return null;
}

// 	Name: header-tags
// 	Short-hand: h()
// 	Return headers like h1, h2 and more
@mixin heading() {
	@each $h, $val in $headers {
		#{$h} {
			font-size: $val;
		}
	}
}

// short-hand 
@mixin h() {
	@include header-tags();
}


// Name h1
@mixin h1() { font-size: getHeader(h1); }

// Name h2
@mixin h2() { font-size: getHeader(h2); }

// Name h3
@mixin h3() { font-size: getHeader(h3); }

// Name h4
@mixin h4() { font-size: getHeader(h4); }

// Name h5
@mixin h5() { font-size: getHeader(h5); }

// Name h6
@mixin h6() { font-size: getHeader(h6); }