/*----------FLEXBOX MIXINS----------*/

/*---FLEX CONTAINER---*/

/*
	Name: display-flex
	Trigger: df()
	Return display: flex;
*/
@mixin display-flex() {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

/*
	Name: flex-flow
	Trigger: ff($flow)
	Return flex-flow
*/
@mixin flex-flow($flow) {
	-webkit-flex-flow: $flow;
	-ms-flex-flow: $flow;
	flex-flow: $flow;
}

/*
	Name: inline-flex
	Trigger: inf()
	Return display: inline-flex
*/
@mixin inline-flex() {
	display: -webkit-inline-flex;
	display: -ms-inline-flex;
	display: inline-flex;
}

/*
	Name: flex-container
	Trigger: fc($flow, $inline)
	Return display: inline/flex and flex-flow
*/
@mixin flex-container($flow, $inline: false) {
	@if $inline == true {
		@include inline-flex();
	} @else {
		@include display-flex();	
	}

	@include flex-flow($flow);
}

/*
	Name: justify-content
	Trigger: jc($align)
	Return justify-content
*/
@mixin justify-content($align) {
	-webkit-justify-content: $align;
	-ms-justify-content: $align;
	justify-content: $align;	
}

/*
	Name: align-items
	Trigger: ai($align)
	Return align-items
*/
@mixin align-items($align) {
	-webkit-align-items: $align;
	-ms-align-items: $align;
	align-items: $align;	
}

/*
	Name: align-content
	Trigger: ac($align)
	Return align-content
*/
@mixin align-content($align) {
	-webkit-align-content: $align;
	-ms-align-content: $align;
	align-content: $align;	
}

/*
	Name: flex-align
	Trigger: fa($justify-content, $align-items, $align-content)
	Return justify-content, align-items, align-content
*/
@mixin flex-align($justify-content, $align-items, $align-content) {
	@include justify-content($justify-content);
	@include align-items($align-items);
	@include align-content($align-content);
}


/*---FLEX ITEM---*/

/*
	Name: flex
	Trigger: fx($flex)
	Return flex
*/
@mixin flex($flex) {
	-webkit-flex: $flex;
	-ms-flex: $flex;
	flex: $flex;
}

/*
	Name: align-self
	Trigger: as($align)
	Return align-self
*/
@mixin align-self($align) {
	-webkit-align-self: $align;
	-ms-align-self: $align;
	align-self: $align;
}

/*
	Name: flex-grow
	Trigger: fxg($grow)
	Return flex-grow
*/
@mixin flex-grow($grow) {
	-webkit-flex-grow: $grow;
	-ms-flex-grow: $grow;
	flex-grow: $grow;
}

/*
	Name: flex-shrink
	Trigger: fxs($shrink)
	Return flex-shrink
*/
@mixin flex-shrink($shrink) {
	-webkit-flex-shrink: $shrink;
	-ms-flex-shrink: $shrink;
	flex-shrink: $shrink;
}