/*----------FONT MIXINS----------*/

/* return font-size using $font-size map */
@mixin font-size($size) {	
	font-size: getFontSize($size);
}

/* return font-family using $font-family map */
@mixin font-family($family, $type: sans) {	
	font-family: getFontFamily($family), getFontType($type);
}

/* return headers like h1, h2 and more */
@mixin header-tags() {
	@each $h, $val in $headers {
		.#{$h} {
			font-size: $val;
		}
	}
}