//----------MOTION MIXINS----------//

// 	Name: transition
// 	Trigger: trs($trs)
// 	Return transition
@mixin transition($transition) {
	-webkit-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

// 	Name: transform
// 	Trigger: trf($trf)
// 	Return transform
@mixin transform($transform) {
	-webkit-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}