//----------MOTION MIXINS----------//

// 	Name: transition
// 	Trigger: trs($trs)
// 	Return transition
@mixin transition($transition) {
	-webkit-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

// short-hand for: transition($trs);
@mixin trs($trs) {
	@include transition($trs);
}

// 	Name: transform
// 	Trigger: trf($trf)
// 	Return transform
@mixin transform($transform) {
	-webkit-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

// short-hand for: transform($trs);
@mixin trf($trs) {
	@include transform($trs);
}
