// Initial variables

// Font family
$family-whole-page: 'Roboto';
$family-font-type: 'sans-serif';

// Font size
$font-size-desktop: 16px;
$font-size-tablet: 17px;
$font-size-cellphone: 18px;

// Some definitions of device widths
$width-iphone-six: 375px;
$width-iphone-five: 320px;
$width-commom-cellphone: 420px;
$width-cellphone: 560px;
$width-tiny-tablet: 760px;
$width-tablet: 960px;
$width-desktop: 1280px;
$width-tiny-desktop: 1024px;
$width-large-desktop: 1366px;