// Initial variables

/*---------------FONT SETTINGS---------------*/

// Heading sizes(h1, h2, h3..)
$headers: (
	h1: 32px,
	h2: 24px,
	h3: 18.5px,
	h4: 16px,
	h5: 13.5px,
	h6: 11px
);


// Font size
// It's bigger on minor screens because it can be used on tags like <p> and <span>
$font-size: (
	desktop: 16px,
	tablet: 17px,
	phone: 18px
);

// Font family
$font-family: (
	page: 'Open Sans',
	texting: 'Open Sans',
	type: 'sans-serif'
);

/*---------------OTHERS SETTINGS---------------*/

// Some device width settings that I use most
$devices: (
	desktop: 1280px,
	tablet: 1024px,
	phone: 760px
);

// Z-index
// It's better you organize your z-indexes here and get them with either a mixin or function
$z-index: (
	base: 0
);