/*---------------OTHERS SETTINGS---------------*/

// Some device width settings that I use most
$devices: (
	desktop: 1280px,
	tablet: 1024px,
	phone: 760px
);

// Z-index
// It's better you organize your z-indexes here and get them with either a mixin or function
$z-index: (
	base: 0
);