// Reset

* {
    @include ff(texts);
    @include bs(border-box);
	@include z(base);
    font-weight: 300;
    border: none;
	margin: 0;
	padding: 0;
}

a,
a:visited,
a:active {
	list-style-type: none;
	text-decoration: none;
}

p, span { @include fz(tablet); }

section {
	width: 100%;
	height: auto;
}

h1, h2, h3,
h4, h5, h6 { font-weight: 400; }

@include ht();

ul { list-style-type: none; }

input, textarea, button {
	display: block;
	resize: none;
}

input[type="button"],
input[type="submit"],
button { cursor: pointer; }