/*
Error: Undefined variable: "$font-family".
        on line 60 of functions/_font.scss, in `font-family'
        from line 179 of mixins/_triggers.scss, in `ff'
        from line 4 of reset.scss
        from line 17 of shield.scss

Backtrace:
functions/_font.scss:60:in `font-family'
mixins/_triggers.scss:179:in `ff'
reset.scss:4
shield.scss:17
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:173:in `perform_arg'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `each'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `each'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `map'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `_perform'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:299:in `visit_if'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:251:in `block (3 levels) in perform_sass_fn'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:251:in `each'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:251:in `block (2 levels) in perform_sass_fn'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:250:in `catch'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:250:in `block in perform_sass_fn'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:247:in `perform_sass_fn'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:132:in `_perform'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/list_literal.rb:63:in `map'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:366:in `block (4 levels) in visit_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:366:in `map'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:366:in `block (3 levels) in visit_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:366:in `block (2 levels) in visit_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:361:in `block in visit_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:98:in `block in with_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:98:in `with_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:366:in `block (4 levels) in visit_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:366:in `map'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:366:in `block (3 levels) in visit_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:366:in `block (2 levels) in visit_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:361:in `block in visit_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:98:in `block in with_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:98:in `with_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin.rb:109:in `method_missing'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/home/matheus/.gem/ruby/2.4.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/home/matheus/.gem/ruby/2.4.0/bin/sass:22:in `load'
/home/matheus/.gem/ruby/2.4.0/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$font-family\".\A         on line 60 of functions/_font.scss, in `font-family'\A         from line 179 of mixins/_triggers.scss, in `ff'\A         from line 4 of reset.scss\A         from line 17 of shield.scss"; }
